@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

::-webkit-scrollbar-track {
    background-color: #24252A;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #24252A;
}

::-webkit-scrollbar-thumb {
    background: #e5a400;
    border-radius: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

/* Header */
.backgroundHeader {
    width: 100%;
    height: 100px;
    background-color: #24252A;
}

li, a, button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    position: fixed;
    width: 100%;
    height: 100px;
    box-shadow: 0px -5px 40px;
    box-sizing: border-box;
    background-color: #24252A;
    box-shadow: 0px 5px 40px;
    z-index: 1000;
    
   
}

.titulo {
    color:#e5a400
}

.navbar_links {
    list-style: none;
}

.navbar_links li {
    display: inline-block;
    padding: 0px 20px;
}

.navbar_links li a {
    transition: all 0.3s ease 0s;
}

.navbar_links li a:hover {
    color: #e5a400;
    cursor: pointer;

}

.BntEntrar {
    padding: 9px 25px;
    background-color: rgb(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.BntEntrar:hover {
    background-color: #e5a400;
}

/* Fim header */

.titulo_dash {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    
}

.h1_text_dash {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #e5a400;
    position: center;
}

.graficos {

    display: flex;
    flex-direction: row;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    
}

.dashboard1 {
    background-color: #edf0f1;
    display: flex;
    flex-direction: column;

    width: 40%;
    padding: 10px;
    box-shadow: 10px 20px black;
}

.dashboard1 h1 {
    align-self: center;
}



.dashboard2 {
    background-color: #edf0f1;
    display: flex;
    flex-direction: column;
    
    width: 40%;
    padding: 10px;
    box-shadow: 10px 20px black;
}

.dashboard2 h1 {
    align-self: center;
}


#div_para_vetor {

    width: 80%;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: space-around;
    margin-left: 10%;
}

.h1_text {
    color: #e5a400;
}


#div_para_vetor {
    margin-top: 100px;
}

.texto_select_music {
    color: white;
    margin-bottom: 20px;
}

#select_musica {
    background-color: #24252A;
    color: #e5a400;
    border: 1px solid #e5a400 ;
    border-radius: 5px;
    width: 25%;
    align-self: center;
    height: 40px;
    font-size: 15px;
}

#letra_musica {
    background-color: #17181b;
    border:2px solid #e5a400;
    width: 50%;
    justify-content: space-around;
    color: #edf0f1;
    align-items: center;
    padding-left: 50px;
}

.btnVerLetra {
    background-color: rgb(0,136,169,1);
    width: 100px;
    height: 40px;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btnVerLetra:hover {
    background-color: #e5a400;
    color: black;
    width: 120px;
    height: 50px;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 1s;
}

.hello {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: aliceblue;
    position: center;
}

.hello h3 {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: aliceblue;
    position: center;
}

.hello #b_usuario {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: aliceblue;
    position: center;
}



