
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

::-webkit-scrollbar-track {
    background-color: #24252A;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #24252A;
}

::-webkit-scrollbar-thumb {
    background: #e5a400;
    border-radius: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

/* Header */
.backgroundHeader {
    width: 100%;
    height: 100px;
    background-color: #24252A;
}

li, a, button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    position: fixed;
    width: 100%;
    height: 100px;
    box-shadow: 0px -5px 40px;
    box-sizing: border-box;
    background-color: #24252A;
    box-shadow: 0px 5px 40px;
    z-index: 1000;
    
   
}

.titulo {
    color:#e5a400
}

.navbar_links {
    list-style: none;
}

.navbar_links li {
    display: inline-block;
    padding: 0px 20px;
}

.navbar_links li a {
    transition: all 0.3s ease 0s;
}

.navbar_links li a:hover {
    color: #e5a400;
    cursor: pointer;

}

.BntEntrar {
    padding: 9px 25px;
    background-color: rgb(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.BntEntrar:hover {
    background-color: #e5a400;
}

/* login */

.tudo {
    width: 100vw;
    margin-top: 0;
    width: 100%;
    height: 100%;
}

.mask {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.823);
    z-index: -100;
    position: fixed;
}

.Quadrado_login1 {
    position: absolute;
    border-radius: 10px;
    box-shadow: 10px 40px 40px black;
    margin-left: 33%;
    width:30%;
    height: 370px;
    background-color: black;
    border: 2px solid #e5a400;
    margin-top: 10%;
    align-self: center;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;

}
.Quadrado_login2 {
    position: absolute;
    border-radius: 10px;
    box-shadow: 10px 40px 40px black;
    margin-left: 33%;
    width:30%;
    height: 520px;
    background-color: black;
    border: 2px solid #e5a400;
    margin-top: 10%;
    align-self: center;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;

}

.Quadrado_login1 h1 {
    color: #e5a400;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

.Quadrado_login2 h1 {
    color: #e5a400;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

.nome_text {
    color: #edf0f1;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 5px;
}
.email_text{
    color: #edf0f1;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 5px;
}
.senha_text{
    color: #edf0f1;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

#senha_input{
    background-color: #24252A;
    border: 1px solid #e5a400 ;
    border-radius: 5px;
    width: 80%;
    align-self: center;
    height: 40px;
    font-size: 15px;

}

#confirmacao_senha_input {
    background-color: #24252A;
    border: 1px solid #e5a400 ;
    border-radius: 5px;
    width: 80%;
    align-self: center;
    height: 40px;
    font-size: 15px;
}

#nome_input{
    background-color: #24252A;
    border: 1px solid #e5a400 ;
    border-radius: 5px;
    width: 80%;
    align-self: center;
    height: 40px;
    font-size: 15px;
}

#email_input{
    background-color: #24252A;
    border: 1px solid #e5a400 ;
    border-radius: 5px;
    width: 80%;
    align-self: center;
    height: 40px;
    font-size: 15px;

    
}
#nome_input::-webkit-input-placeholder{
    font-style: bold;
    padding-left: 150px;
    
}

#email_input::-webkit-input-placeholder{
    font-style: bold;
    padding-left: 130px;
}

#senha_input::-webkit-input-placeholder{
    font-style: bold;
    padding-left: 150px;
}

#confirmacao_senha_input::-webkit-input-placeholder{
    font-style: bold;
    padding-left: 150px;
}

.Quadrado_login1 input {
    color: #e5a400;
    align-items: center;
}
.Quadrado_login2 input {
    color: #e5a400;
    align-items: center;
}

.BntEntrarLogin {
    align-self: center;
    padding: 9px 25px;
    background-color: rgb(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-top: 40px;
    
}

.BntEntrarLogin:hover {
    background-color: #e5a400;
}

.mask {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.374);
    z-index: -100;
    position: fixed;
}

.video {
    width: 100%;
    margin-top: 0;
    position: relative;
    z-index: -999;
    

}




.sobre {
    width: 100vw;
    margin-top: 0;
    width: 100%;
    height: 100%;
}


.mask {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.374);
    z-index: -100;
    position: fixed;
}

.video {
    width: 100%;
    margin-top: 0;
    position: relative;
    z-index: -999;
    

}
.titulo_sobre {
    text-align: center;
    color: #e5a400;
    font-size: 40px;
}
.texto_sobre {
    background-color: #24252aad;
    box-shadow: 0px -5px 40px black ;
    border-radius: 50px;
    margin-left: 150px;
    margin-top: 300px;
    width: 50%;
    height: 40%;
    position: absolute;
    z-index: 1;
    text-align: center;
    font-size: 20px;
    color: #edf0f1;
}

.texto_sobre:hover {
    background-color: #000000bc;
    box-shadow: 0px -5px 40px #e5a400 ;
    width: 55%;
    height: 45%;
    transition: 1s;

   
}
