
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

::-webkit-scrollbar-track {
    background-color: #24252A;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #24252A;
}

::-webkit-scrollbar-thumb {
    background: #e5a400;
    border-radius: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

/* Header */
.backgroundHeader {
    width: 100%;
    height: 100px;
    background-color: #24252A;
}

li, a, button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    position: fixed;
    width: 100%;
    height: 100px;
    box-shadow: 0px -5px 40px;
    box-sizing: border-box;
    background-color: #24252A;
    box-shadow: 0px 5px 40px;
    z-index: 1000;
    
   
}

.titulo {
    color:#e5a400
}

.navbar_links {
    list-style: none;
}

.navbar_links li {
    display: inline-block;
    padding: 0px 20px;
}

.navbar_links li a {
    transition: all 0.3s ease 0s;
}

.navbar_links li a:hover {
    color: #e5a400;
    cursor: pointer;

}

.BntEntrar {
    padding: 9px 25px;
    background-color: rgb(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.BntEntrar:hover {
    background-color: #e5a400;
}

/* Fim Header */

/* Sobre */
.sobre {
    width: 100vw;
    margin-top: 0;
    width: 100%;
    height: 100%;
}


.mask {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.374);
    z-index: -100;
    position: fixed;
}

.video {
    width: 100%;
    margin-top: 0;
    position: relative;
    z-index: -999;
    

}
.titulo_sobre {
    text-align: center;
    color: #e5a400;
    font-size: 40px;
}
.texto_sobre {
    background-color: #24252aad;
    box-shadow: 0px -5px 40px black ;
    border-radius: 50px;
    margin-left: 150px;
    margin-top: 300px;
    width: 50%;
    height: 40%;
    position: absolute;
    z-index: 1;
    text-align: center;
    font-size: 20px;
    color: #edf0f1;
}

.texto_sobre:hover {
    background-color: #000000bc;
    box-shadow: 0px -5px 40px #e5a400 ;
    width: 55%;
    height: 45%;
    transition: 1s;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

   
}

/* Fim Sobre */

/* Integrantes */

.text_integrantes{
    text-align: center;
    color: #e5a400;
    font-size: 40px;
}

.integrantes {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 6%;
    gap: 80px;
    background-color: black;
    margin: 0;


}

.nome_integrante {
    color: #e5a400;
    text-align: center;
}

.integrante {

    width: 70%;
    height: 30vh;
    background: #24252A;
    border: 2px solid black;
    box-shadow: 0 10px 40px #e5a400;
    box-sizing: border-box;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    direction: inherit;
    justify-content: space-between;
    margin-bottom:50px;
    color: #edf0f1;


    

}

.img {

    
    background: #f2f2f2;
    border-radius: 40px;
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}



.Foto {
    

    
        background: #f2f2f2;
        border-radius: 40px;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    
}

.texto_integrante {
    width: 100%;
display: flex;
margin-left: 6%;
margin-top: 0%; 
}

.nome_integrante {
    text-align: center;
    font-size: 40px;
        padding-left: 2px;

 
}
.cargo {
    font-size: 25px;
    padding-left: 2px;
    width: 100%;
}



.BntSaberMais {
    width: 16vw;
    height: 8.4vh;
    border: 3px solid #24252A;
    background-color: black;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    border-radius: 40px;

    align-self: center;
    color: white;
    cursor: pointer;
    margin-right: 90px;
    margin-top: 90px;
}

.BntSaberMais:hover {
    width: 18vw;
    height: 9vh;
    border: 3px solid #24252A;
    background-color: black;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    border-radius: 40px;

    align-self: center;
    color: #e5a400;
    transition: 1s;
    cursor: pointer;
    margin-right: 90px;
    margin-top: 90px;
}

/* Fim Integrantes */

/* Albuns */

.albuns {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 6%;
    gap: 80px;
    background-color: #e5a400;
    margin: 0;

}

.Text_titulo {
    margin-top: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 40px;
}

.album {

    width: 20%;
}

.ImgAlbum {
    width: 350px;
    height: 300px;
    border: 2px solid black;
}

.ImgAlbum:hover {
    width: 370px;
    height: 320px;
    box-shadow: 5px 20px 30px #0d0e10;
    transition: 2s;
    border-radius: 10px;
}


.albuns1{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
    margin-right: 200px;
}

.albuns2{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
    margin-right: 200px;
}

/* Fim Albuns */
/* Agenda */

.Agenda {
    background-color: #24252A;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.titulo_agenda {
    position: center;
    color: #e5a400;
    font-size: 40px;
}

.local {
    width: 80%;
    height: 35vh;
    background: black;
    border: 1px solid #e5a400c4;
    box-sizing: border-box;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    direction: inherit;
    justify-content: space-between;
    margin-bottom:50px;
    color: #edf0f1;
}

.texto_agenda {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
    
}
.linha1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 20px 10px 20px 30px;
    height: 20%;
    font-size: 30px;
}

.text_local{
    color: #e5a400;
    margin-right: 5px;
}
.local1_resp{
    color: #f2f2f2;
}



.linha2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 20px 10px 20px 30px;
    height: 20%;
    font-size: 30px;
    
}


.text_data1 {
    color: #e5a400;
    margin-right: 15px;
}
.text_hora1 {
    color: #e5a400;
    margin-right: 15px;
}

.data1_resp {
    color: #f2f2f2;
    margin-right: 25px;
}
.hora_result {
    color: #f2f2f2;
}

.linha3 {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 20px 10px 20px 30px;
    height: 20%;
    font-size: 30px;
}

.text_compre {
    color: #e5a400;
    margin-right: 5px;
}

.link_buy {
    color: blue;
    font-size: 30px;
    margin-top: 2px;
}

.footer {
    background-color: #d79b02db;
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid black;
}

.redes {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    margin-top: 20px;

}

.face {
    width: 50px;
}
.face:hover {
    width: 55px;
    transition: 1s;

}

.insta{
    width: 50px;
}

.insta:hover{
    width: 55px;
    transition: 1s;
}

.tt {
    width: 55px;
}
.tt:hover {
    width: 60px;
    transition:1s ;
}

.fim {
    align-self: center;
    margin-bottom: 100px;
}





